body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: url("../assets/fondo-claro.png") center/cover no-repeat fixed;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.chat {
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* GLOBO */
.mensaje {
  background: #dcf8c6; /* estilo WhatsApp */
  padding: 12px 14px;
  border-radius: 12px;
  max-width: 90%;
  align-self: flex-start;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* TEXTO */
.mensaje p {
  margin: 0;
  font-size: 16px;
}

/* FECHA */
.fecha {
  margin-top: 6px;
  font-size: 12px;
  color: #555;
  text-align: right;
}
