body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background: url("../assets/fondo-claro.png") center/cover no-repeat fixed;
}

h1 {
  margin-bottom: 20px;
}

.contenedor {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* GRILLA */
.grid {
  display: grid;
  grid-template-columns: repeat(10, 36px);
  grid-template-rows: repeat(10, 36px);
  gap: 2px;
}

.celda {
  position: relative;
  width: 36px;
  height: 36px;
  border: 1px solid #999;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.celda.blanca {
  background: white;
}

.celda.negra {
  background: #222;
}

/* NUMERITO DE PISTA */
.numero {
  position: absolute;
  top: 2px;
  left: 3px;
  font-size: 10px;
  font-weight: normal;
  color: #000;
}

/* PISTAS */
.pistas {
  max-width: 340px;
  text-align: left;
}

.pista {
  margin-bottom: 15px;
}

.pista input {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
  font-size: 16px;
}

.pista button {
  margin-top: 5px;
  padding: 6px 12px;
  cursor: pointer;
}
